node_modules/
dist/
dist-ssr/
.env
.DS_Store
*.local
*.log
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Keystore files
*.jks
*.keystore
Keystorepath
android/app/*.jks
android/keystore.properties

# Android build output
**/android/app/release/

# Firebase config
**/google-services.json

# Claude Code
.claude/

# Stitch
stitch-home.html
